.create-page {
  min-height: 90vh;
  display: grid;
  place-items: center;
}

.create-page section {
  width: 70vw;
  max-width: 550px;
  box-shadow: 0 0 55px #2e8cca79;
  padding: 25px;
  margin-top: 20px;

  @media (max-width: 600px) {
    width: 80vw;
  }

  form {
    display: grid;
    gap: 25px;
    margin-top: 20px;

    .field {
      display: flex;
      flex-direction: column;

      input,
      select {
        border-radius: 5px;
        padding: 10px 15px;
        margin-top: 5px;
      }
    }
  }
}

.btn-wrapper {
  display: flex;
  align-items: end;
  margin-top: 20px;

  button {
    height: fit-content;
    width: 100%;
    border: none;
    display: flex;
    justify-content: center;
    padding: 0.75rem 1.5rem;
    background-color: #2e8cca;
    color: #ffffff;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    user-select: none;
    gap: 0.75rem;
    box-shadow: 0 4px 6px -1px #488aec31, 0 2px 4px -1px #488aec17;
    transition: all 0.6s ease;
  }

  button:hover {
    box-shadow: 0 10px 15px -3px #488aec4f, 0 4px 6px -2px #488aec17;
  }

  button:focus,
  button:active {
    opacity: 0.85;
    box-shadow: none;
  }
}
